body {
    background-image: url("../image/R.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: aqua;
    background-color: black ;
    text-align: center;
}
div {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: Arial;
    background-size: cover;
}
ul {
    text-align: center;
    color: blue;
    
}